<link rel="stylesheet" href="components/event-list/event-list.styles.css">
<h1 class="page-header">Public events</h1>
<div ng-repeat="event in events" class="event-block">
	<div class="event-image-block">
		<img class="event-presentation-image" src="{{event.presentation.thumbnail}}" alt="event thumbnail">
	</div>
	<div class="event-right">
		<h3 class="event-name">{{event.name}}</h3>
		<h4 class="event-presentation-name">{{event.presentation.name}}</h4>
		<p class="event-date">{{event.date}}</p>
		<button href="events/{{event.id}}" class="event-button btn btn-default">Watch details</button>
	</div>
</div>
