<link rel="stylesheet" href="components/event-list/event-list.styles.css">
<h1 class="page-header" ng-if="!my">Public events</h1>
<h1 class="page-header" ng-if="my">My events</h1>
<div id="event_list" ng-cloak>
  <p class="lead" ng-if="!events.length">There are no events yet</p>
  <div ng-repeat="event in events" >
    <div class="thumbnail">
      <div class="image">
      	<img ng-src="{{event.presentation_info.thumbnail}}" class="img-rounded" alt="Event thumbnail">
    	</div>
      <div class="caption">
        <h3 class="text-center">{{event.name}}</h3>
				<p class="event-date">Started at {{event.date | date: "HH:mm dd.MM.yyyy"}}</p>
        <p><a ui-sref="event-detail({id: event.id})" class="btn btn-primary btn-block" role="button">Show event</a> </p>
      </div>
    </div>
  </div>
</div>