<link rel="stylesheet" href="components/event-detail/event-detail.styles.css">
<div ng-if="event">
  <h1 class="page-header">{{event.name}}</h1>
  <p class="event-date">{{event.date}}</p>
  <presentation-detail id='{{event.presentation_info.id}}'></presentation-detail>
  <a href="#!/events/{{event.id}}" class="event-button btn btn-default">Start event</a>
	<iframe ng-src="{{baseUrl + '/event/' + event.id + '/live/' | trustAsResourceUrl}}" style="display: block; width: 100%; height: 600px; border: 0px;" allowfullscreen>
  </iframe>
</div>
