<span ng-if="!$ctrl.sended">
	<h1 class="page-header">You could to restore your password</h1>
	<form class="col-md-4">
		<div class="form-group">
			<label class="control-label">Enter email address:</label>
			<input class="form-control" type="email" name="email" ng-model="$ctrl.email" required>
		</div>
		<div class="form-group">
			<button class="btn btn-primary" type="submit" ng-click="$ctrl.restoreEmail()">Send email</button>
		</div>
	</form>
</span>
<span ng-if="$ctrl.sended">
	<h1 class="page-header">Check your email</h1>
	<p>Type <a href="/#!/login">here</a> if you changed password.</p>
</span>
