<span ng-if="!$ctrl.sended">
	<h1 class="page-header">You could to restore your password</h1>
	<form class="col-md-4" ng-submit="$ctrl.restoreEmail()">
		<div ng-if="$ctrl.error">
			<p>{{ $ctrl.errorMes }}</p>
		</div>
		<div class="form-group">
			<label class="control-label">Enter email address:</label>
			<input class="form-control" type="email" name="email" ng-model="$ctrl.email" required>
		</div>
		<div class="form-group">
			<input class="btn btn-primary" type="submit" value="Send email">
		</div>
	</form>
</span>
<span ng-if="$ctrl.sended">
	<h1 class="page-header">Check your email</h1>
</span>
