<div class="row">
  <div ng-if="!created" class="col-md-12">
  <h3 class="page-header shift-right">Create event</h3>
    <form ng-submit="createEventNew()" class="col-md-6">
      <div class="error" ng-if="error">
        <p>{{error}}</p>
      </div>
      <div class="form-group">
        <label for="presentation-name" class="control-label">Event name</label>
        <input  class="form-control" type="text" name="name" maxlength="39" ng-model="name" id="presentation-name" required>
      </div>
      <div class="form-group">
        <label for="dropdown1" class="control-label">Choose day and time</label>
        <div class="dropdown">
          <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#">
            <div class="input-group">
              <input type="text" class="form-control" data-ng-model="date" disabled/>
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <datetimepicker data-ng-model="date"
                            data-datetimepicker-config="{ dropdownSelector: '#dropdown1'}"></datetimepicker>
          </ul>
        </div>
      </div>

      <div class="form-group">
        <input type="submit" class="btn btn-primary col-md-3" value="Create">
        <a class="btn btn-default col-md-3 col-md-offset-1" ng-click="$parent.$parent.trueCreate()">Cancel</a>
      </div>
    </form>
  </div>
</div>
