<div ng-if="!$ctrl.registred">
  <h1 class="page-header">Please register</h1>
  <div ng-if="$ctrl.error">
    <div ng-repeat="errorMes in $ctrl.errorList">
      <p class="page-header">{{ errorMes }}</p>
    </div>
  </div>
  <form class="col-md-4" ng-submit="$ctrl.registration()">
    <div class="form-group">
      <label class="control-label">Username</label>
      <input class="form-control" type="text" name="username" pattern="[A-Za-z0-9]+" maxlength="30" ng-model="$ctrl.username" required>
    </div>
    <div class="form-group">
      <label class="control-label">Password</label>
      <input class="form-control" type="password" name="password1"  pattern="[A-Za-z0-9]+" maxlength="30" ng-model="$ctrl.password1" required>
    </div>
    <div class="form-group">
      <label class="control-label">Confirm password</label>
      <input class="form-control" type="password" name="password2" pattern="[A-Za-z0-9]+" maxlength="30" ng-model="$ctrl.password2" required>
    </div>
    <div class="form-group">
      <label class="control-label">Email</label>
      <input class="form-control" type="email" name="email" maxlength="30"  ng-model="$ctrl.email" required/>
    </div>
    <div class="form-group">
      <input class="btn btn-primary" type="submit" value="Register">
    </div>
  </form>
</div>
<div ng-if="$ctrl.registred">
  <h1 class="page-header">You've successfully registered</h1>
  <p>You need to check your email to confirm email address.</p>
</div>