.presentation-block {
	padding: 0px;
	margin-left: 20px;
	margin-bottom: 20px;
}

@media all and (min-width: 992px) {
  .presentation-block {
  	height: 200px;
	}

 .presentation-image-block {
		max-width: 100%;
		max-height: 80%;
		display: inline-block;
		vertical-align: middle;
		text-align: center;
	}

}


@media all and (max-width: 991px) {
  .presentation-image-block {
		display: inline-block;
		vertical-align: middle;
		text-align: center;
	}
}

.presentation-image { 
	max-width: 100%;
}

.presentation-info {
	// border-top: 1px solid black;
	// height: 100px;
}

.presentation-name {
	text-align: center;
	margin-top: 5px;
}

.presentation-button {
	margin-top: 5px;
	height: 100%;
}