<h1 class="page-header">Your information:</h1>
<div ng-if="!$ctrl.successUpdeate">
  <form class="col-md-4" ng-submit="updateUserInfo()" >
    <div ng-if="$ctrl.error">
      <p>{{ $ctrl.errorMes }}</p>
    </div>
    <div class="form-group">
      <label class="control-label">Username:</label>
      <input class="form-control" type="text" name="username" ng-model="user.username"/>
    </div>
    <div class="form-group">
      <label class="control-label">First name:</label>
      <input class="form-control" type="text" name="first_name" ng-model="user.first_name"/>
    </div>
    <div class="form-group">
      <label class="control-label">Last name:</label>
      <input class="form-control" type="text" name="last_name" ng-model="user.last_name"/>
    </div>
    <div class="form-group">
      <label class="control-label">Email:</label>
      <input class="form-control" type="email" name="email" ng-model="user.email"/>
    </div>
    <div class="form-group">
      <label class="control-label">Birth date:</label>
      <input class="form-control" type="date" name="birth_date" max="date" ng-model="user.birth_date"/>
    </div>
    <div class="form-group">
      <label class="control-label">Phone number:</label>
      <input class="form-control" type="text" pattern="[0-9]{12}" name="phone_number" ng-model="user.phone_number"/>
    </div>
    <div class="form-group">
      <label class="control-label">Gender:</label>
      <label for="gender">
      <input type="radio" name="gender" value="1" ng-model="user.gender">Male</label>
      <label for="gender">
      <input type="radio" name="gender" value="2" ng-model="user.gender">Female</label>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-primary" value="Update information">
    </div>
  </form>
</div>
<div ng-if="$ctrl.successUpdeate">
    <p>You'd successfully update your profile information.</p>
</div>
<br>
<change-password></change-password>