<div>


  <h3>You could add new presentation:</h3>
  <span ng-controller="NewPresentation">
    <label for="name">Enter the name of presentation:
      <input type="text" name="name" ng-model="name" required>
    </label><br>
    <label for="description">And description:
      <input type="text" name="description" ng-model="description" required>
    </label><br>
    <label for="slides">Upload markdown file:
      <input type="file" name="slides" ng-model="slides"  accept=".md" required/><br>
    </label><br>
    <label for="thumbnail">Upload thumbnail:
      <input type="file" name="thumbnail" ng-model="thumbnail" accept=".jpg, .jpeg, .png" required/><br>
    </label><br>
    <label for="published">Would ypu like to publish it?:
      <input type="checkbox" name="published" value="true" ng-model="published"/><br>
    </label><br>
    <button ng-click="createNewPresentation()">Create</button>
  </span>

  <h3>You could restore password:</h3>

  <label for="new_password1">Enter the new password:
    <input type="password" name="new_password1" ng-model="$ctrl.new_password1" required>
  </label><br>
  <label for="new_password2">Confirm password:
    <input type="password" name="new_password2" ng-model="$ctrl.new_password2" required>
  </label><br>
  <label for="old_password">Old password:
    <input type="password" name="old_password" ng-model="$ctrl.old_password" required/><br>
  </label><br>
  <button ng-click="$ctrl.resetPassword()">Create</button>

</div>
