<h2 class="page-header">Your information:</h2>
<div class="col-md-4"  ng-if="!$root.change">
<table class="table">
  <tbody>
  <tr>
    <td>Username:</td>
    <td>{{user.username}}</td>
  </tr>
  <tr ng-if="user.first_name">
    <td>First name:</td>
    <td>{{user.first_name}}</td>
  </tr>
  <tr ng-if="user.last_name">
    <td>Last name:</td>
    <td>{{user.last_name}}</td>
  </tr>
  <tr>
    <td>Email:</td>
    <td>{{user.email}}</td>
  </tr>
  <tr ng-if="user.birth_date">
    <td>Birth date:</td>
    <td>{{user.birth_date | date: "yyyy MM dd"}}</td>
  </tr>
  <tr ng-if="user.gender != 3">
    <td>Gender:</td>
    <td ng-if="user.gender == 1">Male</td>
    <td ng-if="user.gender == 2">Female</td>
  </tr>
  </tbody>
</table>
  <a class="btn btn-primary" ng-click="$ctrl.changeOn()">Update information</a>
  <a class="btn btn-primary" ui-sref="changePassword">Change password</a>
</div>
<div ng-if="$root.change">
  <form class="col-md-4" ng-submit="updateUserInfo()" >
    <div ng-if="$ctrl.error">
      <p>{{ $ctrl.errorMes }}</p>
    </div>
    <div class="form-group">
      <label class="control-label">Username:</label>
      <input class="form-control" type="text" name="username" pattern="[A-Za-z0-9]+" maxlength="30" ng-model="$ctrl.username" disabled/>
    </div>
    <div class="form-group">
      <label class="control-label">First name:</label>
      <input class="form-control" type="text" name="first_name" pattern="[A-Za-zА-Яа-я]+" maxlength="30" ng-model="$ctrl.first_name"/>
    </div>
    <div class="form-group">
      <label class="control-label">Last name:</label>
      <input class="form-control" type="text" name="last_name" pattern="[A-Za-zА-Яа-я]+" maxlength="30" ng-model="$ctrl.last_name"/>
    </div>
    <div class="form-group">
      <label class="control-label">Email:</label>
      <input class="form-control" type="email" name="email" maxlength="100" ng-model="$ctrl.email"/>
    </div>
    <div class="form-group">
      <label class="control-label">Birth date:</label>
      <div class="dropdown">
        <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#">
          <div class="input-group">
            <input type="text" class="form-control" value="{{$ctrl.birth_date | date: 'yyyy MM dd' }}" disabled/>
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
          </div>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <datetimepicker data-ng-model="$ctrl.birth_date"
                          data-datetimepicker-config="{ dropdownSelector: '#dropdown1', startView: 'year',
            minView: 'day', }"></datetimepicker>
        </ul>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">Gender:</label>
      <label for="gender1">
      <input type="radio" name="gender" value="1" id="gender1" ng-model="$ctrl.gender">Male</label>
      <label for="gender2">
      <input type="radio" name="gender" value="2" id="gender2" ng-model="$ctrl.gender">Female</label>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-primary" value="Save">
      <a type="button" ng-click="$root.profilePageClear()" class="btn btn-danger">Cancel</a>
    </div>
  </form>
</div>
