<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<div id="fb-root"></div>

<h2 class="page-header">Please sign in</h2>
<div ng-if="$ctrl.error" ng-repeat="errorMes in $ctrl.errors">
	<p>{{ errorMes }}</p>
</div>
<div ng-if="$root.facebookErrors">
	<p>{{ $root.facebookErrors }}</p>
</div>

<form class="col-md-4">
	<div class="form-group">
		<label class="control-label">Username</label>
		<input class="form-control" type="text" name="username" maxlength="30" ng-model="$ctrl.username" required>
	</div>
	<div class="form-group">
		<label class="control-label">Password</label>
		<input class="form-control" type="password" name="password" maxlength="30" ng-model="$ctrl.password" required>
	</div>
	<div class="form-group">
		<input class="btn btn-primary" type="submit" ng-click="$ctrl.login()" value="Sign in">
		<button class="btn btn-primary" type="submit" ui-sref="restore">Reset password</button>
        <div class="social-buttons">
            <a class="fbbth btn btn-facebook pull-right" ng-click="$ctrl.facebookLogin()"><i class="fa fa-facebook"></i></a>
            <a class="gglbth btn btn-google pull-right" ng-init="$ctrl.googleLogin()" ng-click="$ctrl.googleLogin()"><i class="fa fa-google"></i></a>
        </div>
	</div>

</form>

