<h1 class="page-header">Please sign in</h1>
<form class="col-md-4">
	<div class="form-group">
		<label class="control-label">Username</label>
		<input class="form-control" type="text" name="username" ng-model="$ctrl.username" required>
	</div>
	<div class="form-group">
		<label class="control-label">Password</label>
		<input class="form-control" type="password" name="password" ng-model="$ctrl.password" required>
	</div>
	<div class="form-group">
		<button class="btn btn-primary" type="submit" ng-click="$ctrl.login()">Sign in</button>
		<button class="btn btn-primary" type="submit" ng-click="$ctrl.restore()">Forget password?</button>
	</div>
</form>