<div ng-if="!uploaded">
  <h2 class="page-header shift-right">Add presentation</h2>
  <form class="col-md-4" ng-submit="uploadFile()">
    <div class="error" ng-if="error">
      <p>{{error}}</p>
    </div>
    <div class="form-group">
      <label for="presentation-name" class="control-label">Presentation name</label>
      <input  class="form-control" type="text" name="name" maxlength="39" ng-model="name" id="presentation-name" required>
    </div>

    <div class="form-group">
      <label>Make a choice: link on raw view of markdown file or upload markdown file</label>
      <div class="presentation-buttons">
        <span class="input-group-addon input-group-sm" ng-click="$ctrl.fileOrLink = 1"><i class="glyphicon glyphicon-link"></i></span>
        <span class="input-group-addon input-group-sm" ng-click="$ctrl.fileOrLink = 2"><i class="glyphicon glyphicon-file"></i></span>
      </div>
    </div>

    <div class="form-group" uib-collapse="$ctrl.fileOrLink == 1 || !$ctrl.fileOrLink">
      <label for="presentation-file" class="control-label">Markdown file</label><br>
      <label class="btn btn-default btn-file">
        Browse <input type="file" ng-if="$ctrl.fileOrLink == 2" file-model = "$ctrl.file" id="presentation-file" accept=".md">
      </label>
      <span ng-if="$ctrl.file.name">Selected file: {{$ctrl.file.name}}</span>
    </div>

    <div class="form-group" uib-collapse="$ctrl.fileOrLink == 2 || !$ctrl.fileOrLink">
      <label for="presentation-file" class="control-label">Link to markdown file</label><br>
      <label>
        <input class="form-control" ng-if="$ctrl.fileOrLink == 1" type="url" ng-model = "$ctrl.link">
      </label>
    </div>

    <div class="form-group">
      <label for="presentation-thumb" class="control-label">Thumbnail</label><br>
      <label class="btn btn-default btn-file">
        Browse <input type="file" name="thumbnail" file-model = "thumbnail" accept=".jpg, .jpeg, .png" id="presentation-thumb" required>
      </label>
      <span ng-if="thumbnail.name">Selected image: {{thumbnail.name}}</span>
    </div>
    <div class="form-group">
      <label for="presentation-desc" class="control-label">Description</label>
      <textarea class="form-control" name="desc" ng-model="description" maxlength="500" id="presentation-desc" required></textarea>
    </div>
    <div class="form-group">
      <label for="isPublic" class="control-label">Public
      <input type="checkbox" name="isPublic" ng-model="isPublic" id="isPublic"></label>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-primary" value="Create">
    </div>
  </form>
</div>
<div ng-if="uploaded">
  <p class="page-header">You've successfully add presentation.</p>
  <p>If you want to upload once more presentation click <a ui-sref="addPresentation" ng-click="uploadedSuccess()">here</a>.</p>
</div>
