<div ng-if="!uploaded">
  <h2 class="page-header">Add presentation</h2>
  <form class="col-md-4" ng-submit="uploadFile()">
    <div class="error" ng-if="error">
      <p>{{error}}</p>
    </div>
    <div class="form-group">
      <label for="presentation-name" class="control-label">Presentation name</label>
      <input  class="form-control" type="text" name="name" maxlength="39" ng-model="name" id="presentation-name" required>
    </div>
    <div class="form-group">
      <label for="presentation-file" class="control-label">Markdown file</label><br>
      <label class="btn btn-default btn-file">
        Browse <input type="file" name="slides" file-model = "slides" id="presentation-file" accept=".md" required>
      </label>
    </div>
    <div class="form-group">
      <label for="presentation-thumb" class="control-label">Thumbnail</label><br>
      <label class="btn btn-default btn-file">
        Browse <input type="file" name="thumbnail" file-model = "thumbnail" accept=".jpg, .jpeg, .png" id="presentation-thumb" required>
      </label>
    </div>
    <div class="form-group">
      <label for="presentation-desc" class="control-label">Description</label>
      <textarea class="form-control" name="desc" ng-model="description" maxlength="500" id="presentation-desc" required></textarea>
    </div>
    <div class="form-group">
      <label for="isPublic" class="control-label">Public
      <input type="checkbox" name="isPublic" ng-model="isPublic" id="isPublic"></label>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-primary" value="Create">
    </div>
  </form>
</div>
<div ng-if="uploaded">
  <p class="page-header">You've successfully add presentation.</p>
  <p>If you want to upload once more presentation click <a ui-sref="addPresentation" ng-click="uploadedSuccess()">here</a>.</p>
</div>
