<form ng-submit="checkPassword()" class="col-md-6 set-email">
    <div class="form-group">
        <h3 class="page-header">Enter password from your account</h3>
        <div ng-if="$ctrl.errorList">
            <div ng-repeat="errorMes in $ctrl.errorList">
                <p class="page-header">{{ errorMes }}.</p>
                <p>You could to enter another <a ui-sref="setEmail">email</a> or <a ui-sref="restore">reset password</a></p>
            </div>
        </div>
        <input class="form-control" type="password" name="password" maxlength="30" ng-model="password" required>
    </div>
    <input type="submit" class="btn btn-primary" value="Submit">
</form>
